/* Landing.css */

.landing-page {
    font-family: Arial, sans-serif;
    color: #222121;
}

.hero {
    background-image: url('../assets/backgroud.jpg'); /* Add your background image URL here */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    padding: 50px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #007bff; /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.services {
    background-image: url('/path/to/your/services-background.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.services-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better text visibility */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1rem;
}

.contact {
    background-image: url('../assets/backgroud.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-form {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 100%;
}

.contact-label {
    display: block;
    font-size: 1rem;
    margin: 10px 0 5px;
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-submit {
    background-color: #007bff; /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
